[submodule "cursor/plugins"]
	path = cursor/plugins
	url = https://github.com/cursor/plugins.git
[submodule "danyuchn/asd-ste100-skill"]
	path = danyuchn/asd-ste100-skill
	url = https://github.com/danyuchn/asd-ste100-skill
[submodule "humanlayer/skills"]
	path = humanlayer/skills
	url = https://github.com/humanlayer/skills.git
